<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiusg.flashlight"
    android:versionCode="9"
    android:versionName="1.4.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />
    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:allowBackup="true"
        android:label="手电筒"
        >
        <activity
            android:name="com.jiusg.flashlight.FLActivity"
            android:theme="@android:style/Theme.NoDisplay" >
    
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jiusg.flashlight.Setting"
            android:icon="@drawable/ic_launcher"
            android:label="@string/action_settings"
            android:theme="@android:style/Theme.DeviceDefault.Light"/>
        <service android:name="com.jiusg.flashlight.FLService"/>
    </application>

</manifest>
